#Make a .env file and fill the required one you may leave other in usual cases


#Required to put compulsorily


#The ports may crash so there maybe cases where you need to configure something
#as there may be collision so try to tweak it a little bit
#usually it should work i haven't put the similar one 
#like 5432 to nny postgres data but some cases it may collide

IDENTITY_DB_USER:postgres
IDENTITY_DB_PASSWORD:postgres
IDENTITY_DB_NAME:postgres
IDENTITY_DB_PORT:5433 